PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=waterreportsdb
DB_USER=postgres
DB_PASSWORD=secret123

MAILER_SERVICE=gmail
MAILER_USER=tucorreo@gmail.com
MAILER_TOKEN=tu_app_password_de_gmail
MAILER_CREW=cuadrilla@municipio.gob.mx
